<section class="design-wrapper hero has-background-primary">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-full has-text-centered">
          <h1 class="title has-text-weight-bold patrick has-text-white" id="design">First, pick a template:</h1>
          <br>
        </div>
      </div>
      <div class="columns is-multiline is-centered">
        <% Design.all.each do |design| %>
          <div class="column is-narrow">

            <div class="voucher-wrapper">
              <a href="/vouchers/new/?design=<%= design.template %>">
                <%= image_tag("designs/examples/#{design.template}.jpg", style: "max-height: 250px; max-width: #{design.width}px", class: "voucher") %>
              </a>
            </div>

          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
