// Template settings
$template: "one";
$width: 700px;
$height: 280px;
$primary: #F17474;


.voucher-wrapper##{$template} {
  
  max-width: $width;
  height: $height;

  .heading {
    max-width: 420px;
    overflow-x: hidden;
    white-space: nowrap;
    font-size: 40px;
    font-weight: 900;
    color: $primary;
    position: relative;
    top: 10px;
    left: 20px;
  }
  .sub-heading {
    max-width: 430px;
    font-size: 18px;
    font-weight: 700;
    color: #6b6b6b;
    position: relative;
    top: 8px;
    left: 20px;
  }
  .for {
    max-width: 350px;
    white-space: nowrap;
    overflow-x: hidden;
    font-size: 35px;
    font-weight: 700;
    color: $primary;
    position: relative;
    top: 30px;
    left: 20px;
    i {
      font-size: 30px;
      position: relative;
      left: -5px;
    }
  }
  .code {
    max-width: 345px;
    overflow-x: hidden;
    font-size: 35px;
    font-weight: 700;
    color: $primary;
    position: relative;
    top: 25px;
    left: 20px;
    i {
      font-size: 30px;
      position: relative;
      left: -5px;
    }
  }
  .valid-until {
    font-size: 20px;
    color: #ffffff;
    position: absolute;
    top: 2px;
    right: 15px;
    font-weight: 500;
  }
  .value {
    font-size: 80px;
    color: #fff;
    font-weight: 700;
    position: absolute;
    right: 15px;
    top: 140px;
  }
  .service {
    max-width: 275px;
    overflow-x: hidden;
    font-size: 20px;
    color: #fff;
    font-weight: 900;
    position: absolute;
    right: 15px;
    top: 240px;
  }
}
