<section class="new-voucher-wrapper hero has-background-primary">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column two-thirds">

          <div class="content has-text-white">
            <h1 class="title has-text-white patrick">Contact Us</h1>
            <p class="is-size-5">If you have any questions or require support, please email <a href="mailto:support@gifti.club"><strong class="has-text-white">support@gifti.club</strong></a></p>
            <p class="is-size-5">For API support, please email <a href="mailto:api@gifti.club"><strong class="has-text-white">api@gifti.club</strong></a></p>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
