<section class="landing-wrapper hero has-background-primary">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns">
        <div class="column">
          <h1 class="title patrick has-text-white" id="landing">CREATE YOUR OWN<br>GIFT VOUCHER</h1>
          <%= link_to "Pick a design", designs_path, :class => 'button is-danger is-large has-text-weight-bold cta' %>
        </div>
        <div class="column">
          <%= image_tag ("landing/gift-card-2.png"), class: "" %>
        </div>
      </div>
    </div>
  </div>
</section>
