.design-wrapper {
  .title#design {
    font-size: 50px;
  }
  .voucher-wrapper {
    position: relative;
    .voucher {
      &:hover {
      }
    }
    ul {
      position: absolute;
      top: 0px;
    }
  }

}
