.voucher-wrapper {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  width: 100%;
  p {margin: 0;}
}

.new-voucher-wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
}
