.voucher-wrapper {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  width: 100%;
  p {margin: 0;}
}

.new-voucher-wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
}

.new-voucher-render {
  @include mobile {zoom: 0.5;}
  @include tablet {zoom: 1;}
  @include desktop {zoom: 0.9;}
  @include widescreen {zoom: 1.1;}
  @include fullhd {zoom: 1.2;}
}
