<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey, <%= @user.email %>!</h1>
    <p>Click this link to sign in: <a href="https://gifti.club/magic/<%= @user.login_key %>">https://gifti.club/magic/<%= @user.login_key %></a></p>
  </body>
</html>
