<div class="voucher-wrapper" style="background-image: url('<%=@design.template_image_url%>')" id="<%=@design.template%>">
    <p class="heading" id="heading"><stong>[Heading]</stong></p>
    <p class="sub-heading" id="sub-heading"><stong>[Sub Heading]</stong></p>
    <p class="for" id="for">[For]</p>
    <p class="code" id="code">[Code]</p>
    <p class="valid-until" id="valid-until">22.02.19</p>
    <p class="value" id="value">[Value]</p>
    <p class="service" id="service">[Service]</p>
</div>
