<section class="new-voucher-wrapper hero has-background-primary">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-half">
          <h1 class="title patrick has-text-white">Now let's customise it!</h1>
          <p class="subtitle has-text-white patrick">All fields marked with a * are required. Once you're done, you can choose to either download it or schedule it for delivery 😊</p>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <%= render 'form', voucher: @voucher %>
        </div>
        <div class="column">
          <br>
          <%= image_tag ("designs/examples/#{@design.template}.jpg"), class: "" %>
        </div>
      </div>
    </div>
  </div>
</section>
